body {
  background-color: #251414;
}
#moviebox {
  width: 500px;
  margin: 10% auto;
  display: flex;
  background-color: #814848;
  flex-direction: row;
  padding: 20px;
}
img {
  max-width: 150px;
  margin-right: 20px;
}
h1 {
  font-family: 'Playfair Display', serif;
}
p,
ul {
  font-family: 'Arimo', sans-serif;
  font-size: 12px;
}
.stars span {
  color: #7c5e5e;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
}
.stars .filled {
  color: white;
}
